In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import community
%matplotlib inline

In [2]:
gg_data = pd.read_csv('adata_24dec.csv')

In [3]:
gg_data.head()

   user_id account_status  friend_id               name account_status.1
0       12         active         13  Ekaparnika Abbott            ghost
1       12         active         14  Ekaparnika Abbott            ghost
2       12         active         15          Bala Nair            ghost
3       12         active         16          Bala Nair            ghost
4       12         active         17          Bala Nair            ghost

In [33]:
id_list_len = len(set(list(np.hstack([gg_data.user_id.values, gg_data.friend_id.values]))))

In [52]:
adj_matrix = np.zeros((id_list_len,id_list_len), dtype=np.int8)

In [53]:
edge_array = gg_data[['user_id','friend_id']].values

In [54]:
for row in edge_array:
    adj_matrix[tuple(row)] = 1

IndexError: index 94280 is out of bounds for axis 1 with size 94279

0